<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать пользователя</title>
</head>
<body>
    <p>Добавить пользователя</p>
        <form  method="post">
            <label for="">Имя: </label><input type="text" name="name"><br>
            <label for="">email: </label> <input type="email" name="email"><br>
            <label for="">пароль: </label><input type="text" name="password"><br>
            <label for="">роль: </label>
            <select name="role" id="">
                <option name="ADMIN" name="">ADMIN</option>
                <option name="USER">USER</option>
            </select><br>
            <button type="submit"> Создать пользователя</button>
       </form>
</body>
</html>