<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создать пользователя</title>
</head>
<body>
    <p>Добавить группу</p>
        <form  method="post">
            <label for="">Название группы: </label><input type="text" name="name"><br>
            <button type="submit"> Добавить группу</button>
       </form>
</body>
</html>