<!DOCTYPE html>
<html lang="en">

<head>
	<title>Форма авторизации</title>
	<meta charset="utf-8">
	{{> LinkCssJs}}
</head>

<body id="page5">
	<div class="extra">

		<header>
			{{> header}}
		</header>

		<section id="content">
			<div class="main">
				<div class="content-padding-2">
					<div class="container_12">
						<div class="wrapper">
							<article class="grid_8">
								<div class="padding-grid-1">

									
									<h3>Форма <strong>авторизации</strong></h3>

									<form id="contact-form" method="post" action="my-page">
										<fieldset>
											<label>
												<span class="name-input">Email:</span>
												<input name="email" value="" type="email"
													onBlur="if(this.value=='') this.value=''"
													onFocus="if(this.value =='' ) this.value=''" />
											</label>
											<label>
												<span class="name-input">пароль:</span>
												<input name="password" type="password" value=""
													onBlur="if(this.value=='') this.value=''"
													onFocus="if(this.value =='' ) this.value=''" />
											</label>
										</fieldset>
										<div class="link-form">
											<input type="submit" value="войти"><br>
											<a href="/registration" style="text-align: center;"> нет аккаунта</a>

										</div>
										<div class="clear"></div>
									</form>
									{{#if err}}
										<div style="background-color: rgb(177, 0, 0); margin:15px; padding: 10px; text-align:center">
											<p>{{err}}</p>
										</div>
									{{/if}}
						






								</div>
							</article>
							<article class="grid_4 alpha">
								<div class="padding-grid-3">
									<h3>Contact <strong>Info</strong></h3>
									<div class="wrapper p2">
										<figure class="style-img-2 fleft">
											<iframe width="252" height="195"
												src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
										</figure>
									</div>
									<dl class="list-4">
										<dt>8901 Marmora Road,<br>Glasgow, D04 89GR.</dt>
										<dd>Telephone: +0-000-000-00-00</dd>
										<dd>E-mail: <a class="link" href="#">changeMyMind@gmail.com</a></dd>
									</dl>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
			<div class="block"></div>
		</section>
	</div>
	{{> footer}}
</body>

</html>